moveit_controller_manager: moveit_simple_controller_manager/MoveItSimpleControllerManager

moveit_simple_controller_manager:
  controller_names:
    - arm_controller
    - gripper_controller

  arm_controller:
    type: FollowJointTrajectory
    joints:
      - joint_1
      - joint_2
      - joint_3
      - joint_gripper_body
    action_ns: follow_joint_trajectory
    default: true

  gripper_controller:
    type: GripperCommand
    joints:
      - joint_gripper_left_part
    action_ns: gripper_cmd
    default: true
